---
const { color, is_bold, is_italic, is_both } = Astro.props;
function colorSelection() {
    switch (color) {
        case "docs-blue":
            return "#2a7dfd";
        case "docs-gray":
            return "#62748e";
        default:
            return color;
    }
}
---

<span
    style={`color: ${colorSelection()}; font-weight: ${is_bold ? "bold" : "normal"}; font-style: ${is_italic ? "italic" : "normal"}; ${is_both ? "font-weight: bold; font-style: italic" : ""}`}
>
    <slot />
</span>