---
const {title, intro} = Astro.props;
---

<div class="w-full border-b dark:border-slate-500/50 border-slate-200 p-2">
    <h1 class="dark:text-white text-slate-600 text-[2rem] font-bold">
        {title}
    </h1>
    <p class="dark:text-slate-400 text-slate-500">
        {intro}
    </p>
</div>