@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --primary-color: #0d121c;
}
body {
    font-family: "Roboto", sans-serif;
    position: relative;
    width: 100%;
    background-color: #101012;
}
