---
const { id, url = "" } = Astro.props;
---

<li
  id={id}
  class="p-1 transition-colors duration-75 cursor-pointer"
>
  <p class={url}>
    <slot />
  </p>
</li>
<script src="/src/scripts/hover.ts"></script>
<script src="/src/scripts/currentSection.ts"></script>