---
import { sections } from "../../somdocs.config.json";
const { styles } = sections;
const { enable, bg, text_color, bold, italic, border_radius, font_size, font_family } = styles;
const { id, url = "" } = Astro.props;
---

<li
  id={id}
  class="p-1 transition-colors duration-75 cursor-pointer"
  style={{
    backgroundColor: enable && bg,
    color: enable && text_color,
    fontWeight: enable && bold,
    fontStyle: enable && italic,
    borderRadius: enable && border_radius,
    fontSize: font_size,
    fontFamily: font_family
  }}
>
  <a href={url}>
    <slot />
  </a>
</li>

<script src="/src/scripts/hover.ts"></script>