---
import ArrowIcon from "../icons/ArrowIcon.astro";
const { id, url = "", show_arrow = false } = Astro.props;
---

<li
  id={id}
  class={`py-1 px-3 transition-colors duration-75 cursor-pointer flex gap-2 items-center ${show_arrow ? "external-link" : ""}`}
>
  <a href={url}>
    <slot />
  </a>
  {
    show_arrow ? (
      <span>
        <ArrowIcon width="16" height="16" style="transform:rotate(45deg)" />
      </span>
    ) : null
  }
</li>
<script src="/src/scripts/currentSection.ts"></script>
