---
import { sections, logo } from "../../somdocs.data.json";
import List from "./List.astro";
import SearchBtn from "./SearchBtn.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MoonIcon from "../icons/MoonIcon.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import "../styles/somdocs.style.css";
import SectionsComponent from "./SectionsComponent.astro";
---

<nav
  class="w-full bg-[#101012] p-2 border-b border-gray-700/50 text-white flex justify-between items-center"
>
  <!-- Left Side -->
  <div
    class="flex items-center gap-5 max-[900px]:w-full max-[900px]:justify-between"
  >
    <!-- Logo and Sections -->
    {
      (
        <a id="logo-text" href="/" class="flex items-center gap-2">
          <img id="logo-icon" src={logo.icon} />
          {logo.text}
        </a>
      )
    }
    <SectionsComponent/>
    <!-- Menu -->
    <button id="open-btn" class="hidden max-[900px]:block text-slate-300 cursor-pointer">
      <MenuIcon width="30" height="30" />
    </button>
  </div>
  <!-- Right Side -->
  <div class="flex gap-4 items-center max-[900px]:hidden">
    <!-- Search Button -->
    <SearchBtn />
    <!-- Theme & github icon -->
    <div class="flex gap-4 items-center">
      <button id="theme-toggle-btn" class="cursor-pointer">
        <MoonIcon width="20" height="20" />
        <script>
         
        </script>
      </button>
      <a href="">
        <GithubIcon width="20" height="20" />
      </a>
    </div>
  </div>
</nav>
