---
import SearchIcon from "../icons/SearchIcon.astro";
const {is_full = false } = Astro.props;
---

<button
  id="search-btn"
  class={`flex gap-2 ${is_full ? "w-full justify-between" : ""} items-center cursor-pointer border-1 border-slate-800 p-2 rounded-lg text-sm`}
>
  <!-- Search Button -->
  <div class="flex gap-2 items-center text-slate-400">
    <SearchIcon width="16" height="16" />
    Search...
  </div>
  <span class="bg-gray-800 py-1 px-2 rounded-md text-[12px]">Ctrl + K</span>
</button>
