---
import SidebarItem from "./SidebarItem.astro";
import contentsData from "../data/output.json";
---

<div class="p-2 pb-10">
    <ul class="flex flex-col gap-1 px-1">
        {contentsData.map((item) => <SidebarItem item={item} />)}
    </ul>
</div>
