---
import PageIcon from "../icons/PageIcon.astro";
import { compressText } from "../scripts/utils";
import data from "../../somdocs.data.json";
import headings from "../data/headings.json";
---

<div
    class="bg-[#101012] w-[200px] border-l border-gray-700/50 text-slate-200 max-[900px]:hidden h-screen flex flex-col"
>
    {
        data.show_contributors ? (
            <div class="w-full h-64 flex justify-center items-center">
                Contributors
            </div>
        ) : null
    }
    <h1
        class="flex gap-2 items-center justify-center text-[0.9rem] font-semibold p-2"
    >
        <span>
            <PageIcon width="16" height="16" />
        </span>
        Table of Contents
    </h1>
    <div class="flex-1 overflow-y-auto">
        <ul class="ml-1 flex flex-col gap-3 px-2 pb-20">
            {
                headings.map((content) => (
                    content.filename === Astro.originPathname.replace("/", "") ? (
                        content.headers.map(header => (
                            <li class="text-slate-500/70 flex gap-2 items-center text-[0.9rem] cursor-pointer hover:text-white transition-colors duration-150">
                                <span>#</span>
                                <a
                                    href={"#" + header.replace(/\s+/g, "-")}
                                    onclick={`(function(e){
                                        e.preventDefault();
                                        let headings=document.querySelectorAll('h1, h2, h3, h4, h5, h6');
                                        let main=document.querySelector('main');
                                        for(let i=0;i<headings.length;i++){
                                            if(headings[i].textContent.trim() === '${header}'.trim()){
                                                if(main && main.contains(headings[i])){
                                                    headings[i].scrollIntoView({behavior:'smooth',block:'start'});
                                                }
                                                break;
                                            }
                                        }
                                    })(event)`}
                                >
                                    {compressText(header, 20)}
                                </a>
                            </li>
                        ))
                    ) : null
                ))
            }
        </ul>
    </div>
</div>
