---
import MainHead from "./MainHead.astro";
import SearchComponent from "../components/SearchComponent.astro";
import "../styles/global.css";
import "../styles/somdocs.style.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <MainHead title={title} />
  <body>
    <slot />
    <SearchComponent />
  </body>
</html>
<script src="../scripts/search_visibilty.ts"></script>
<script src="../scripts/sidebar_visibilty.ts"></script>