---
import GithubIcon from "../icons/GithubIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
import data from "../../somdocs.data.json";
---

<footer
    class="bg-[#101012] min-h-[100px] flex py-2 px-4 justify-center items-center border-b-8 border-[#ff416c] border-t-2 border-t-gray-700/50 flex-wrap max-[600px]:flex-col"
>
    <ul
        class="flex gap-5 flex-wrap justify-center items-center max-[600px]:gap-4 max-[600px]:mb-5"
    >
        {
            data.footer_sections
                ? data.footer_sections.map((section) => (
                      <li>
                          <a class="text-slate-400 italic" href={section.path}>
                              {section.name}
                          </a>
                      </li>
                  ))
                : null
        }
    </ul>
    <div
        class="flex gap-3 flex-1 justify-end flex-wrap items-center max-[600px]:justify-center"
    >
        <span class="text-slate-400 italic"
            >&copy; <a
                href="https://github.com/Adam-Elmi"
                target="_blank"
                class="mr-2">Adam Elmi</a
            >
            {new Date().getFullYear()}
        </span>
        <a href={data.github} class="dark:text-white">
            <GithubIcon width="24" height="24" />
        </a>
        {
            data.discord ? (
                <a
                    href="https://discord.com/users/adamcade"
                    class="dark:text-white"
                >
                    <DiscordIcon width="24" height="24" />
                </a>
            ) : null
        }
    </div>
</footer>
